

<h1>{{category.name}}</h1>
{{new-post save="save" category=model}}
<div class="body-post">
  {{#each model as |post|}}
    <div class="postBox">
      {{post-tile post=post update="update" destroyPost="destroyPost"}}
    </div>
  {{/each}}
</div>
