<div class="jumbotron">
  <h1>HellaRad Blog Bro</h1>
  <h3>Most extreme blog ever made by a guy whos never used a blog</h3>
</div>

<div class="categoryBox">
  {{#each model.categories as |category|}}
    <button class="btn">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</button>
  {{/each}}
</div>

{{#each model.posts as |post|}}
<div class="postBox">
  {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{#link-to 'category' category.id}}{{category.name}}{{/link-to}}
</div>
{{/each}}

{{new-category saveCategory="saveCategory"}}
